/* Navigation Bar */
nav {
  width: 100%;
  background: linear-gradient(90deg, #667eea, #764ba2);
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hamburger Icon for Mobile */
.hamburger {
  display: none;
  margin-left: 10px;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger .hamburger-open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger .hamburger-open:nth-child(2) {
  opacity: 0;
}
.hamburger .hamburger-open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Navigation Links */
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-left {
  display: flex;
  
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #e3e3e3;
}

/* Mobile Responsive Styling */
@media (max-width: 495px) {
  .hamburger {
    display: flex;
  }
  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(102, 126, 234, 0.9);
    flex-direction: column;
    align-items: center;
    display: none;
  }
  .nav-links.show-menu {
    display: flex;
  }
  .nav-left, .nav-right {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
